{% load i18n %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">{% trans "Main Navigation" %}</li>


    <li class="treeview">
        <a href="#">
        <i class="fa fa-rss"></i>
        <span>Blog</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'blog:post_list_admin' %}"><i class="fa fa-list"></i> {% trans "List" %}</a></li>
            <li><a href="{% url 'blog:post_create_admin' %}"><i class="fa fa-pencil"></i> {% trans "Creation" %}</a></li>
        </ul>
    </li>

    <li class="treeview {% if '/page/' in request.path %}active{% endif %}">
        <a href="#">
            <i class="fa fa-file-text-o"></i> <span>{% trans 'Page' %}</span>
                <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li class="treeview {% if '/page/config' in request.path %}active{% endif %}">
                <a href="#"><i class="fa fa-cog"></i> {% trans 'Configuration' %}
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li {% if '/page/config/header' in request.path %}class="active"{% endif %}><a href="{% url 'page:config_page_header_admin' %}"><i class="fa fa-arrow-up"></i> {% trans 'Header' %}</a></li>
                    <li {% if '/page/config/footer' in request.path %}class="active"{% endif %}><a href="{% url 'page:config_page_footer_admin' %}"><i class="fa fa-arrow-down"></i> {% trans 'Footer' %}</a></li>
                </ul>
            </li>
            <li class="treeview {% if '/page/category' in request.path %}active{% endif %}">
                <a href="#"><i class="fa fa-list-alt"></i> {% trans 'Category' %}
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li {% if '/page/category/list' in request.path %}class="active"{% endif %}><a href="{% url 'page:category_list_admin' %}"><i class="fa fa-list"></i> {% trans 'List' %}</a></li>
                    <li {% if '/page/category/create' in request.path %}class="active"{% endif %}><a href="{% url 'page:category_create_admin' %}"><i class="fa fa-pencil"></i> {% trans 'Creation' %}</a></li>
                </ul>
            </li>
            <li class="treeview {% if '/page/post' in request.path %}active{% endif %}">
                <a href="#"><i class="fa fa-file-text"></i> {% trans 'Post' %}
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li {% if '/page/post/list' in request.path %}class="active"{% endif %}><a href="{% url 'page:post_list_admin' %}"><i class="fa fa-list"></i> {% trans 'List' %}</a></li>
                    <li {% if '/page/post/create' in request.path %}class="active"{% endif %}><a href="{% url 'page:post_create_admin' %}"><i class="fa fa-pencil"></i> {% trans 'Creation' %}</a></li>
                </ul>
            </li>
        </ul>
    </li>

    <li class="treeview {% if '/wishlist/' in request.path %}active{% endif %}">
        <a href="#">
            <i class="fa fa-gift"></i> <span>{% trans 'Wishlist' %}</span>
                <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-cog"></i> {% trans 'Configuration' %}</a></li>
            <li class="treeview {% if '/wishlist/category' in request.path %}active{% endif %}">
                <a href="#"><i class="fa fa-list-alt"></i> {% trans 'Category' %}
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li {% if '/wishlist/category/list' in request.path %}class="active"{% endif %}><a href="{% url 'wishlist:category_list_admin' %}"><i class="fa list"></i> {% trans 'List' %}</a></li>
                    <li {% if '/wishlist/category/create' in request.path %}class="active"{% endif %}><a href="{% url 'wishlist:category_create_admin' %}"><i class="fa fa-pencil"></i> {% trans 'Creation' %}</a></li>
                </ul>
            </li>
            <li class="treeview {% if '/wishlist/item' in request.path %}active{% endif %}">
                <a href="#"><i class="fa fa-file-text-o"></i> {% trans 'Item' %}
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li {% if '/wishlist/item/list' in request.path %}class="active"{% endif %}><a href="{% url 'wishlist:item_list_admin' %}"><i class="fa fa-list"></i> {% trans 'List' %}</a></li>
                    <li {% if '/wishlist/item/create' in request.path %}class="active"{% endif %}><a href="{% url 'wishlist:item_create_admin' %}"><i class="fa fa-pencil"></i> {% trans 'Creation' %}</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>