Django==1.11.6
django-crispy-forms==1.7.0
django-debug-toolbar==1.8
django-js-reverse==0.7.3
django-model-utils==3.0.0
django-mptt==0.8.7
django-polymorphic==1.0.2
django-roxyfileman==1.142.3
django-simple-history==1.9.0
django-widget-tweaks==1.4.1
easy-thumbnails==2.3
Pillow==4.3.0
pprint==0.1
pytz==2017.2
sqlparse==0.2.4
Unidecode==0.4.21
social-auth-app-django==2.0.0
python-resize-image
