Django==1.11.6
django-crispy-forms==1.7.0
django-debug-toolbar==1.8
django-js-reverse==0.7.3
django-model-utils==3.0.0
django-simple-history==1.9.0
django-widget-tweaks==1.4.1
pprint==0.1
pytz==2017.2
sqlparse==0.2.4
