{% extends "front/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header %}
    <title>{{ post.title }} | {{ config.PROJECT_NAME }}</title>

    <meta name="description" content="{{ post.description }}">
    <meta name="keywords" content="{{ post.keywords }}">
    <meta name="news_keywords" content="{{ post.keywords }}">

    <meta property="og:image" content="{{ post.og_image }}">
    <meta name="author" content="{{ post.author }}">
    <link rel="author" href="{{ post.author }}">


    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:image" content="">
    <meta property="og:url" content="{{request.url}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ config.PROJECT_NAME }}">
    <meta property="og:description" content="{{ post.description }}">

{% endblock %}


{% block content %}
    <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{ post.title }}</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="/">Accueil</a>
                            </li>
                            <li>{{ post.title }}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    {{ post.body | safe}}

{% endblock %}

{% block extrafoot %}

{% endblock %}