{% extends "front/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block header %}
    <title>{{ item.title }} | {{ config.PROJECT_NAME }}</title>

    <meta name="description" content="{{ item.description }}">
    <meta name="news_keywords" content="{{ item.keywords }}">

    <meta property="og:image" content="{{ item.og_image }}">
    <meta name="author" content="{{ item.author }}">
    <link rel="author" href="{{ item.author }}">


    <meta property="og:title" content="{{ item.title }}">
    <meta property="og:image" content="">
    <meta property="og:url" content="{{config.WEBSITE_MEDIA_URL}}{{request.get_full_path}}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ config.PROJECT_NAME }}">
    <meta property="og:description" content="{{ item.description }}">

{% endblock %}


{% block content %}

<div id="content">

    <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Liste de naissance </h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="/">Accueil</a>
                            </li>
                            <li>Cadeau pour le petit Noah</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    <div class="container">
            <div class="row">
                {% include 'wishlist/front/items/left_menu.html' %}
                    <div class="col-md-9">

                        <div class="row" id="productMain">
                            <div class="col-sm-6">
                                <div id="mainImage">
                                    <img data-zoom="{{ item.image }}" src="{{ item.image }}" alt="" class="img-responsive image-zoom">
                                </div>

                                <!-- /.ribbon -->

                            </div>
                            <div class="col-sm-6">
                                <div class="box" id="box_message">
                                    <div class="sizes">
                                        <h3>{{ item.title }}</h3>
                                        {% trans 'Participate people, click on Icône for send a message' %}<br><br>
                                        {% for user in item.participate.all %}
                                            <label for="{{ user.username }}">
                                                <a href="#" class="send_message" data-toggle="tooltip" data-placement="bottom" data-id="{{ user.username }}" title="{{ user.username }}">{{ user.username|first|upper }}</a>
                                            </label>
                                        {% endfor %}
                                    </div>

                                    <p class="price">{{ item.price }} €</p>

                                    <p class="text-center">
                                        <a href="{{ item.url }}" target="_blank" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> {% trans 'See Product' %}</a>
                                        <button class="btn btn-default btn-gift" title="{% trans 'Make a gift' %}"><i class="fa fa-heart-o"></i>{% trans 'Make a gift' %}</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{ item.body | safe }}
                    </div>
            </div>
    </div>



    <div id="modal-gift" class="modal-body">
        {% if request.user.is_authenticated  %}
            {% crispy form %}
        {% else %}
            <p class="text-center text-muted">
                {% trans 'For perform this action you have to' %}
                <a href="{% url 'core:front_user_signup' %}">
                    <strong>{% trans 'Register now !' %}</strong><br>
                </a> {% trans 'It is easy and done in 1&nbsp;minute!' %}
            </p>
        {% endif %}
        <br/>
    </div>

    {% if item.participate.all|length > 0 %}
        <div id="modal-message" class="modal-body">
             {% if request.user.is_authenticated  %}
                <form method="post" id="send_message_user">
                <div id="div_id_message" class="form-group">
                    <div class="controls ">
                        <textarea name="message" id="id_message_mail" cols="15" class="form-control input-lg textarea form-control" rows="4" placeholder="{% trans 'Write a message' %}" required=""></textarea>
                    </div>
                </div>
                <p class="text-center" id="send_message">
                </p>
            </form>
            {% else %}
                 <p class="text-center text-muted">
                    {% trans 'For perform this action you have to' %}
                    <a href="{% url 'core:front_user_signup' %}">
                        <strong>{% trans 'Register now !' %}</strong><br>
                    </a> {% trans 'It is easy and done in 1&nbsp;minute!' %}
                 </p>
            {% endif %}
            <br/>
        </div>
    {% endif %}

{% endblock %}

{% block extrafoot %}
    <script>
       $(document).ready(function(){
            $('.image-zoom')
              .wrap('<span style="display:inline-block"></span>')
              .css('display', 'block')
              .parent()
              .zoom({
                url: $(this).find('img').attr('data-zoom')
              });

                $('.btn-gift').click(function(event) {
                    event.preventDefault()
                    $('#modal-gift').iziModal('open');
                });

                $("#modal-gift").iziModal();

                {% if item.participate.all|length > 0 %}
                    $("#modal-message").iziModal({
                    onClosed: function(){
                            $('#send_message').empty();
                            $('#id_message_mail').val('');
                        },
                    });
                    $('.send_message').click(function(event) {
                        event.preventDefault()
                        var div = '<button type="submit" class="btn btn-template-main" id="message-recipient" data-recipient="' + $(this).attr('data-id') + '"><i class="fa fa-mail-forward"></i> {% trans "Send message to " %} ' + $(this).attr('data-id') + '</button>'
                        $('#send_message').append(div)
                        $('#modal-message').iziModal('open');
                    });
                {% endif %}
                $('[data-toggle="tooltip"]').tooltip();


                var message_form = '#send_message_user';
                $('body').on('submit', message_form, function(event) {
                    event.preventDefault();
                    $.ajax({
                         headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                         type:"POST",
                         url:"{% url 'wishlist:items_send_message_ajax_front' %}",
                         data: {
                                'username': $("#message-recipient").data('recipient'),
                                'message': $("#id_message_mail").val(),
                                },
                         success: function(data){
                             if (data.success){
                                iziToast.success({
                                    title: "{% trans 'OK' %}",
                                    message: "{% trans 'Message send to ' %}" + $('#message-recipient').data('recipient'),
                                });
                                $("#box_message").find("[data-id='" + $("#message-recipient").data('recipient') + "']").hide();
                             }else{
                                 iziToast.error({
                                    title: "{% trans 'Error' %}",
                                    message: "{% trans 'Message not send, contact the webmaster' %}"
                                });
                             }
                             $('#modal-message').iziModal('close');
                         }
                    });
                });
            });
    </script>
{% endblock %}