{% extends "front/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Error 404" %}{% endblock %}


{% block content %}

     <div id="content">
            <div class="container">

                <section class="no-mb">
                    <div class="row">
                        <div class="col-md-12">

                            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                                ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="project owl-carousel">
                        <div class="item">
                            <img src="http://universal.ondrejsvestka.cz/1-0/img/main-slider1.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://universal.ondrejsvestka.cz/1-0/img/main-slider2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://universal.ondrejsvestka.cz/1-0/img/main-slider3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img class="img-responsive" src="http://universal.ondrejsvestka.cz/1-0/img/main-slider4.jpg" alt="">
                        </div>
                    </div>
                    <!-- /.project owl-slider -->
                </section>

                <section>
                    <div class="row portfolio-project">
                        <div class="col-md-8">
                            <div class="heading">
                                <h3>Project description</h3>
                            </div>

                            <p>Bringing unlocked me an striking ye perceive. Mr by wound hours oh happy. Me in resolution pianoforte continuing we. Most my no spot felt by no. He he in forfeited furniture sweetness he arranging. Me tedious so to behaved
                                written account ferrars moments. Too objection for elsewhere her preferred allowance her. Marianne shutters mr steepest to me. Up mr ignorant produced distance although is sociable blessing. Ham whom call all lain like.</p>

                            <p>To sorry world an at do spoil along. Incommode he depending do frankness remainder to. Edward day almost active him friend thirty piqued. People as period twenty my extent as. Set was better abroad ham plenty secure had horses.
                                Admiration has sir decisively excellence say everything inhabiting acceptance. Sooner settle add put you sudden him.</p>

                        </div>
                        <div class="col-md-4 project-more">
                            <div class="heading">
                                <h3>More</h3>
                            </div>
                            <h4>Client</h4>
                            <p>Pietro Filippi</p>
                            <h4>Services</h4>
                            <p>Consulting, Webdesign, Print</p>
                            <h4>Technologies</h4>
                            <p>PHP, HipHop, Break-dance</p>
                            <h4>Dates</h4>
                            <p>10/2013 - 06/2014</p>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row portfolio">

                        <div class="col-md-12">
                            <div class="heading">
                                <h3>Related projects</h3>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="http://universal.ondrejsvestka.cz/1-0/img/portfolio-1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                                </div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                        <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="http://universal.ondrejsvestka.cz/1-0/img/portfolio-2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                                </div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                        <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="http://universal.ondrejsvestka.cz/1-0/img/portfolio-3.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                                </div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                        <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->

                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="box-image">
                                <div class="image">
                                    <img src="http://universal.ondrejsvestka.cz/1-0/img/portfolio-4.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="bg"></div>
                                <div class="name">
                                    <h3><a href="portfolio-detail.html">Portfolio box-image</a></h3>
                                </div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="portfolio-detail.html" class="btn btn-template-transparent-primary">View</a>
                                        <a href="#" class="btn btn-template-transparent-primary">Website</a>
                                    </p>
                                </div>
                            </div>
                            <!-- /.box-image -->
                        </div>

                    </div>
                </section>

            </div>
            <!-- /.container -->









    <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Liste de naissance </h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="/">Accueil</a>
                            </li>
                            <li>Cadeau pour le petit Noah</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    <div class="container">
            <div class="row">
                {% include 'wishlist/front/items/left_menu.html' %}
                    <div class="col-md-9">

                        <div class="row" id="productMain">
                            <div class="col-sm-6">
                                <div id="mainImage">
                                    <img data-zoom="{{ item.image }}" src="{{ item.image }}" alt="" class="img-responsive image-zoom">
                                </div>

                                <!-- /.ribbon -->

                            </div>
                            <div class="col-sm-6">
                                <div class="box" id="box_message">
                                    <div class="sizes">
                                        <h3>{{ item.title }}</h3>
                                        {% trans 'Participate people, click on Icône for send a message' %}<br><br>
                                        {% for user in item.participate.all %}
                                            <label for="{{ user.username }}">
                                                <a href="#" class="send_message" data-toggle="tooltip" data-placement="bottom" data-id="{{ user.username }}" title="{{ user.username }}">{{ user.username|first|upper }}</a>
                                            </label>
                                        {% endfor %}
                                    </div>

                                    <p class="price">{{ item.price }} €</p>

                                    <p class="text-center">
                                        <a href="{{ item.url }}" target="_blank" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> {% trans 'See Product' %}</a>
                                        <button class="btn btn-default btn-gift" title="{% trans 'Make a gift' %}"><i class="fa fa-heart-o"></i>{% trans 'Make a gift' %}</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{ item.body | safe }}
                    </div>
            </div>
    </div>



    <div id="modal-gift" class="modal-body">
        {% crispy form %}
        <br/>
    </div>

    {% if item.participate.all|length > 0 %}
        <div id="modal-message" class="modal-body">
            <form method="post" id="send_message_user">
                <div id="div_id_message" class="form-group">
                    <div class="controls ">
                        <textarea name="message" id="id_message_mail" cols="15" class="form-control input-lg textarea form-control" rows="4" placeholder="{% trans 'Write a message' %}" required=""></textarea>
                    </div>
                </div>
                <p class="text-center" id="send_message">
                </p>
            </form>
            <br/>
        </div>
    {% endif %}

{% endblock %}

{% block extrafoot %}
    <script>
       $(document).ready(function(){
            $('.image-zoom')
              .wrap('<span style="display:inline-block"></span>')
              .css('display', 'block')
              .parent()
              .zoom({
                url: $(this).find('img').attr('data-zoom')
              });

                $('.btn-gift').click(function() {
                    event.preventDefault()
                    $('#modal-gift').iziModal('open');
                });

                $("#modal-gift").iziModal();

                {% if item.participate.all|length > 0 %}
                    $("#modal-message").iziModal({
                    onClosed: function(){
                            $('#send_message').empty();
                            $('#id_message_mail').val('');
                        },
                    });
                    $('.send_message').click(function() {
                        event.preventDefault()
                        var div = '<button type="submit" class="btn btn-template-main" id="message-recipient" data-recipient="' + $(this).attr('data-id') + '"><i class="fa fa-mail-forward"></i> {% trans "Send message to " %} ' + $(this).attr('data-id') + '</button>'
                        $('#send_message').append(div)
                        $('#modal-message').iziModal('open');
                    });
                {% endif %}
                $('[data-toggle="tooltip"]').tooltip();


                var message_form = '#send_message_user';
                $('body').on('submit', message_form, function(event) {
                    event.preventDefault();
                    $.ajax({
                         headers: {'X-CSRFToken': Cookies.get('csrftoken')},
                         type:"POST",
                         url:"{% url 'wishlist:items_send_message_ajax_front' %}",
                         data: {
                                'username': $("#message-recipient").data('recipient'),
                                'message': $("#id_message_mail").val(),
                                },
                         success: function(data){
                             if (data.success){
                                iziToast.success({
                                    title: '{% trans "OK" %}',
                                    message: '{% trans "Message send to " %}' + $("#message-recipient").data('recipient'),
                                });
                                $("#box_message").find("[data-id='" + $("#message-recipient").data('recipient') + "']").hide();
                             }else{
                                 iziToast.error({
                                    title: '{% trans "Error" %}',
                                    message: '{% trans "Message not send, contact the webmaster" %}'
                                });
                             }
                             $('#modal-message').iziModal('close');
                         }
                    });
                });
            });
    </script>
{% endblock %}