{% extends "front/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Error 404" %}{% endblock %}


{% block content %}
      <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
          <a href="{% url 'social:begin' 'google-oauth2' %}">Google+</a>

    <div class="container">

                <div class="col-sm-6 col-sm-offset-3" id="error-page">

                    <div class="box">

                        <p class="text-center">
                            <a href="index.html">
                                <img src="img/front/logo.png" alt="Obaju template">
                                <p>Hello {{ user.username }}!</p>
                            </a>
                        </p>

                        <h3>We are sorry - this page is not here anymore</h3>
                        <h4 class="text-muted">Error 404 - Page not found</h4>

                        <p class="buttons"><a href="index.html" class="btn btn-template-main"><i class="fa fa-home"></i> Go to Homepage</a>
                        </p>
                    </div>


                </div>
                <!-- /.col-sm-6 -->
            </div>
            <!-- /.container -->
{% endblock %}