{% extends "admin/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Create{% endblock %}
{% block title_block %}{{ action }} Blog Post{% endblock %}
{% block breadcrumb %}
    <li><a href="#">{% trans "Blog" %}</a></li>
    <li class="active">{{ action }}</li>
{% endblock %}

{% block history %}
    {% if '/update/' in request.path %}
            <li class="dropdown messages-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-history"></i>
                    <span class="label label-success">{{ historical_posts.count }}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="header">You have {{ post_history.count }} versions available</li>
                    {% for historical_post in historical_posts|slice:":10" %}
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- start message -->
                                    <a href="{% url 'blog:post_revert_admin' post_id=historical_post.id history_id=historical_post.history_id %}">
                                        <small class="text-muted"><i class="fa fa-clock-o"></i> {{ historical_post.history_date }} </small>
                                        <div class="pull-right text-muted"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{ historical_post.history_user.username }}</div>
                                    </a>
                                </li>
                                <!-- end message -->
                            </ul>
                        </li>
                    {% endfor %}
                    <li class="footer"><a href="#">{% trans "See All Versions" %}</a></li>
                </ul>
            </li>
    {% endif %}
{% endblock %}


{% block content %}

<input type="text" id="txtSelectedFile" style="border:1px solid #ccc;cursor:pointer;padding:4px;width:80%;" value="Click here to select a file {{ settings.MEDIA_URL }} bouyaj">

<div id="modal-file" class="modais" data-izimodal-title="Select a file" data-izimodal-iframeURL="/admin/editor"></div>


{% load crispy_forms_tags %}
    {% crispy form %}
  </div>
{% endblock %}


{% block extrafoot %}
    <script>
        $("#modal-file").iziModal({
            history: false,
            iframe : true,
            fullscreen: true,
            headerColor: '#000000',
            group: 'group1',
            loop: true,
            transitionIn: 'bounceInDown',
            transitionOut: 'bounceOutDown',
            width: '100%',
            iframeHeight: '1000px',
            zindex: 9999,
          });

        function selectFileAndClose(){
           $('#modal-file').iziModal('close');
        }


        $('#txtSelectedFile').click(function() {
          $('#modal-file').iziModal('open');
        });

    </script>
{% endblock %}