{% extends "admin/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Create{% endblock %}
{% block title_block %}{{ action }}{% trans "User" %}{% endblock %}
{% block breadcrumb %}
    <li><a href="#">{% trans "User" %}</a></li>
    <li class="active">{{ action }}</li>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% crispy user_form %}
        {% crispy profile_form %}
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12 row-block">
                <input class="btn btn-primary btn-block" type="submit" value="{% trans 'Save changes' %}">
            </div>
        </div>
    </form>
{% endblock %}
