{% extends "admin/base.html" %}
{% load i18n %}
{% load mptt_tags %}

{% block title %}{% trans "Category" %}{% endblock %}
{% block title_block %}{% trans "Page Category" %}<small>{% trans "List" %}</small>{% endblock %}
{% block breadcrumb %}
    <li><a href="#">{% trans "Category" %}</a></li>
    <li class="active">{% trans "List" %}</li>
{% endblock %}

{% block deleted %}
        <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-trash"></i>
                <span class="label label-danger">{{ deleted_categories.count }}</span>
            </a>
            <ul class="dropdown-menu">
                <li class="header">{{ deleted_categories.count }} {% trans "deleted posts" %}</li>
                {% for deleted_category in deleted_categories|slice:":10" %}
                    <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu">
                            <li><!-- start message -->
                                <a href="{% url 'page:category_revert_admin' category_id=deleted_category.id history_id=deleted_category.history_id %}">
                                    <div class="pull-right text-danger">{{ deleted_category.title }}</div><br/>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i> {{ deleted_category.history_date }} </small>
                                    <div class="pull-right text-muted"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{ deleted_category.history_user.username }}</div>
                                </a>
                            </li>
                            <!-- end message -->
                        </ul>
                    </li>
                {% endfor %}
                <li class="footer"><a href="#">{% trans "See All Deleted categories" %}</a></li>
            </ul>
        </li>
{% endblock %}


{% block content %}
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <a href="{% url 'page:category_create_admin' %}"><button type="button" class="btn btn-sm btn-info"><i class="fa fa-pencil"></i> {% trans "Create a new Category" %}</button></a>
                <a href="{% url 'page:post_create_admin' %}"><button type="button" class="btn btn-sm btn-success"><i class="fa fa-pencil"></i> {% trans "Create a new Item" %}</button></a>
            </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <table id="blog-list" class="table table-bordered table-striped display nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>{% trans "Title" %}</th>
                        <th>{% trans "Slug" %}</th>
                        <th>{% trans "Creation Date" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.title }}</td>
                        <td>{{ category.slug }}</td>
                        <td>{{ category.created_at }}</td>
                        <td>
                            {% if category.status == 'draft' %}
                                <span class="label label-warning">{% trans "Draft" %}</span>
                            {% else %}
                                <span class="label label-success">{% trans "Published" %}</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'page:category_update_admin' category_id=category.id %}"><button type="button" class="btn btn-success"><i class="fa fa-pencil-square"></i> {% trans "Edit" %}</button></a>
                            <a href="#" onClick="return false"><button type="button" class="btn btn-danger" data-id="{{ post.id }}" data-title="{{ category.title }}"><i class="fa fa-trash"></i> {% trans "Delete" %}</button></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
<div id="tree"></div>


<table id="treegrid" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%">
  <!-- <table id="treegrid" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp"> -->
    <colgroup>
    <col style="width: 400px;">
    <col style="width: 200px;">
    <col style="width: 50px;">
    <col style="width: 80px;">
    </colgroup>
    <thead>
    <tr>
      <!-- NOTE: the first column will be inserted by MDL if mdl-data-table--selectable is set. -->
      <th class="mdl-data-table__cell--non-numeric">Item</th>
      <th class="mdl-data-table__cell--non-numeric">Author</th>
      <th>Year</th>
      <th>Unit price</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td class="mdl-data-table__cell--non-numeric"></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>


{% endblock %}

{% block extrafoot %}
    <script>
    $("#treegrid").fancytree({
      extensions: ["glyph", "table", "wide", "dnd"],
      selectMode: 3,
      glyph: {
        preset: "awesome4",
        map: {}
      },
      table: {
        nodeColumnIdx: 0
      },
      source: [
        {% recursetree nodes %}
            {"key": {{ node.id }}, "title": "{{node.title}}", "tooltip": "Look, a tool tip!",
            {% if not node.is_leaf_node %}
                "folder": true, "children": [
                    {{ children }}
                ]
            {% endif %}
            },
    {% endrecursetree %}
],

dnd: {
    autoExpandMS: 400,
    draggable: { // modify default jQuery draggable options
      zIndex: 1000,
      scroll: false,
      containment: "parent",
      revert: "invalid"
    },
    preventRecursiveMoves: true, // Prevent dropping nodes on own descendants
    preventVoidMoves: true, // Prevent dropping nodes 'before self', etc.

    dragStart: function(node, data) {
        current_parent = node.parent.key
        return true;
    },
    dragEnter: function(node, data) {
      /* data.otherNode may be null for non-fancytree droppables.
       * Return false to disallow dropping on node. In this case
       * dragOver and dragLeave are not called.
       * Return 'over', 'before, or 'after' to force a hitMode.
       * Return ['before', 'after'] to restrict available hitModes.
       * Any other return value will calc the hitMode from the cursor position.
       */
      // Prevent dropping a parent below another parent (only sort
      // nodes under the same parent):
      // Don't allow dropping *over* a node (would create a child). Just
      // allow changing the order:
//    return ["before", "after"];
      // Accept everything:
      return true;
    },
    dragExpand: function(node, data) {
      // return false to prevent auto-expanding data.node on hover
    },
    dragOver: function(node, data) {
    },
    dragLeave: function(node, data) {
    },
    dragStop: function(node, data) {
    },
    dragDrop: function(node, data) {
      // This function MUST be defined to enable dropping of items on the tree.
      // data.hitMode is 'before', 'after', or 'over'.
      // We could for example move the source to the new target:

      data.otherNode.moveTo(node, data.hitMode);
        console.log('current:' + data.otherNode.key)
        console.log('next or previous:', data.hitMode)
        console.log('move to:' + node.key)
        console.log('parent node:' + data.otherNode.parent.key)

        if(data.otherNode.parent.key.indexOf('root') !== -1){
            data.hitMode = 'root';
        }

        $.get( "/admin/page/category/move/" + data.otherNode.key + "/" + node.key + "/" + data.hitMode , function() {
          console.log( "success" );
        })
          .done(function() {
            //console.log( "second success" );
          })
          .fail(function() {
            console.log( "error" );
          })



        $("#treegrid").fancytree("getTree").visit(function(node){
            node.setExpanded();
        });
    }
  },

        lazyLoad: function(event, data) {
			data.result = {url: "../demo/ajax-sub2.json"};
		},

      renderColumns: function(event, data) {
        var node = data.node,
          data = node.data,
          $tdList = $(node.tr).find(">td");

        console.log(data)
        $tdList.eq(2).html('<button type="button" class="btn btn-success"><i class="fa fa-pencil-square"></i> Edit</button> <button type="button" class="btn btn-danger" data-id="" data-title="test5"><i class="fa fa-trash"></i> Delete</button>');
        $tdList.eq(3).text(data.year);
        $tdList.eq(4).text(data.price ? data.price.toFixed(2) : "");
      },
         createNode: function(event, data) {
          console.log(event)
        var node = data.node,
          data = node.data,
          $tdList = $(node.tr).find(">td");

        console.log(data)
        $tdList.eq(2).html('<button type="button" class="btn btn-success"><i class="fa fa-pencil-square"></i> Edit</button> <button type="button" class="btn btn-danger" data-id="" data-title="test5"><i class="fa fa-trash"></i> Delete</button>');
        $tdList.eq(3).text(data.year);
        $tdList.eq(4).text(data.price ? data.price.toFixed(2) : "");
      }
    });



    current_parent = '';
    $("#treegrid").fancytree("getTree").visit(function(node){
        node.setExpanded();
    });


    $('#blog-list').DataTable({
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true
    })

    $("#blog-list").on('click', '.btn-danger', function(){
        activeClickDelete(Urls['page:category_delete_admin']({ post_id:  $( this ).data('id')}), $( this ).data('title'));
    })




    </script>
{% endblock %}