{% extends "front/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block header %}
    <title>{% trans 'Edit profile' %} | {{ config.PROJECT_NAME }}</title>
    <meta name="description" content="{% trans 'Edition of your profil' %}">
{% endblock %}

{% block content %}
<div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>{% trans 'Edit account' %}</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li><a href="/">{% trans 'Home' %}</a>
                        </li>
                        <li>{% trans 'Edit account' %}</li>
                    </ul>

                </div>
            </div>
        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h1>{% trans 'Edit account' %}</h1>
            <p>{% trans 'You can edit your account using the following form:' %}</p>
            <hr class="colorgraph">
            <form method="post" enctype="multipart/form-data">
                {% crispy user_form %}
                {% crispy profile_form %}
                {% crispy password_form %}
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-12 row-block">
                        <input class="btn btn-primary btn-block" type="submit" value="{% trans 'Save changes' %}">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
</div>




{% endblock %}