{% extends "front/base.html" %}
{% load staticfiles %}

{% block title %}Log-in{% endblock %}

{% block content %}
    <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>New account / Sign in</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a>
                            </li>
                            <li>New account / Sign in</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    <div class="container">

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="account-box">

                <fieldset>
                    <h2>Please Sign In</h2>
                    <hr class="colorgraph">
                    {% load crispy_forms_tags %}
                    {% crispy form %}


                    <span class="button-checkbox">
                        <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                        <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                    </span>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
                        </div>
                    </div>
                </fieldset>

            <div class="or-box">
                    <span class="or">OR</span>
                    <div class="row">
                        <div class="col-md-6 row-block">
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-facebook btn-block"><i class="fa fa-facebook"></i> Signin with Facebook</a>
                        </div>
                        <div class="col-md-6 row-block">
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-google btn-block"><i class="fa fa-google-plus"></i> Signin with Google</a>
                        </div>
                    </div>
                </div>
                <div class="or-box row-block">
                    <div class="row">
                        <div class="col-md-12 row-block">
                            <a href="http://www.jquery2dotnet.com" class="btn btn-primary btn-block">Create New Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

</div>

</div>
    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>


{% endblock %}