{% extends "front/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans 'New account' %}{% endblock %}

{% block content %}
<div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>{% trans 'New account' %}</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li>{% trans 'New account' %}</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                {% crispy user_form %}
        </div>
    </div>
</div>

{% endblock %}