{% extends "admin/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Password Change" %}<small>{% trans "User" %}</small>{% endblock %}
{% block title_block %}{% trans "Password Change" %}<small>{% trans "User" %}</small>{% endblock %}

{% block breadcrumb %}
    <li><a href="#">{% trans "User" %}</a></li>
    <li class="active">{% trans "Password Change" %}</li>
{% endblock %}

{% block content %}
    <div class="row">
      {% load crispy_forms_tags %}
      {% crispy form %}
    </div>
{% endblock %}